@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    text-align: center;
    background-color: rgb(0, 21, 39);
}

body {
    position: relative;

    width: 400px;
    height: auto;
    top: 50px;
    left: 33%;
    padding: 20px;

    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 1px 2px 30px 10px rgba(255, 255, 255, 0.234);
}


input, select {
    position: relative;
    text-align: center;
    
    padding: 5px;
    height: 30px;
    margin: 12px;
    
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-color: rgb(127, 93, 252);
    
    color: black;
    background-color: rgba(34, 0, 255, 0.034);
}

fieldset {
    padding: 20px;
    margin: 20px;
    border: 0px;
    border-radius: 10px;
    
    background-color: rgba(0, 4, 255, 0.132);
}

div#botoes {    
    text-decoration: none;
    text-align: center;
}

input#ienviar {
    width: 90px;
}

input#ienviar:hover {
    transition: 0.5s;
    transform: translate(-3px, -3px);
}

input#ilimpar:hover {
    transition: 0.5s;
    transform: translate(-3px, -3px);
}