@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

html {
    background-color: rgb(239, 218, 160);
}

h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

p {
    margin-bottom: 20px;
}

p#botoes {
    position: relative;
    top: 240px;
    text-align: center;
}

body {
    position: relative;

    width: 400px;
    height: 400px;
    padding: 24px;

    top: 40px;
    left: 35%;
    border-radius: 10px;

    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.208);
}