@charset "UTF-8";

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
}

/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
    html {
        background-color: black;
    }
    
    main {
        background-color: blueviolet;
        margin: auto;
        width: 400px;
    }
}

/*Desktop*/
@media screen and (min-width: 992px) and (max-width: 1200px) and (orientation: landscape){
    main {
        background-color: blueviolet;
        margin: auto;
        width: 500px;
    }
}

/*Televisões*/
@media screen and (min-width: 1200px) and (orientation: landscape){
    h1 {
        font-size: 2.5em;
    }

    main {
        background-color: blueviolet;
        margin: auto;
        width: 700px;
    }
}